@import "../variables";
@import "../mixins";
@import "../palettes/background";

.nav-tabs-vertical {
  display: flex;
  flex-direction: row;
	width: 100%;
	.nav-vertical {
		flex: 0 0 200px;
	}
	.nav-tabs,
	.tab-content {
    display: flex;
    flex-direction: column;
	}
  .tab-content {
    padding: 10px 20px;
		width: 100%;
  }
	.nav-tabs {
		margin: 0 !important;
		border: 0 !important;
	}
	.nav-item {
		margin: 0 !important;
		border: 0 !important;
		width: 100% !important;
	}
	.nav-link {
		border: 0 !important;
		position: relative;
		width: 100% !important;
		padding: 10px 15px;
		&:after {
			content: "";
			display: none !important;
			visibility: hidden !important;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -3px;
			height: calc(100%);
			width: 3px;
			background-color: map-get($bootstrap-colors, "primary");
			z-index: 2;
		}
		&.active,
		&:hover {
			&:after {
				display: block !important;
				visibility: visible !important;
			}
		}
	}
}

@each $key, $value in $background-palettes {
  [data-background="#{$key}"] {
		.nav-tabs-vertical.nav-tabs-transparent {
			.nav-link {
				background: map-get($value, "background-color");
				color: map-get($value, "color");
				&.active,
				&:hover {
					background: map-get($value, "background-color");
					color: map-get($value, "color");
				}
			}
		}
	}
}

@each $key, $value in $default-palette {
  [data-background="#{$key}"] {
		.nav-tabs-vertical {
			.nav-link {
				background: map-get($value, "background-color");
				color: map-get($value, "color");
				&.active,
				&:hover {
					background: map-get($value, "background-color");
					color: map-get($value, "color");
				}
			}
			@each $skey, $svalue in $bootstrap-colors {
				&.nav-tabs-#{$skey} {
					.nav-link {
						&:after {
							background-color: $svalue;
						}
					}
				}
			}
		}
	}
}

