@import "../variables";
@import "../mixins";
$width: 620px;
$height: 440px;
$padding: 30px;
$margin: 10px;
.create-account {
  &.sample-form {
    @include sample-form($height, $width, $padding, $margin);
    @include box-shadow;
    textarea {
      height: 150px;
    }
    @media (max-width: 543px) {
      @include sample-form($height, 400px, $padding, $margin);
    }
    @media (min-width: 544px) and (max-width: 767px) {
      @include sample-form($height, 500px, $padding, $margin);
    }
  }
}
@each $key, $value in $default-palette {
  [data-background="#{$key}"] {
    .create-account {
      &.sample-form {
        background-color: map-get($value, "background-color");
        border-color: map-get($value, "border-color");
        color: map-get($value, "color");
        h3 {
          background-color: map-get($bootstrap-colors, "info");
          color: #fff;
        }
      }
    }
  }
}
