doctype html
html(lang='en')
    head
        meta(charset='utf-8')

        <link rel="stylesheet" href="/app/static/mystyle.css" />
        <link rel="stylesheet" href="/app/static/newstyle.css" />
        <script src="/app/static/bundle.js" defer></script>

    body

        <div id="root">asodkasodkasodk</div>
