[data-background="light"] .line-chart-widget-7 {
  background-color: #ffffff;
  border: 1px solid #d6d6d6; }

[data-background="dark"] .line-chart-widget-7 {
  background-color: #212121;
  border: "none"; }

[data-background="primary"] .line-chart-widget-7 {
  background-color: #303f9f;
  border: "none"; }
