.icon-widget-2 {
  text-align: center;
  font-size: 0.9375rem;
  height: 60px; }
  .icon-widget-2 .row {
    height: 60px; }
    .icon-widget-2 .row > .col:first-child {
      text-align: right; }
    .icon-widget-2 .row > .col:last-child {
      text-align: left; }
  .icon-widget-2 i {
    font-size: 1.0625rem; }
