.icon-widget-6 {
  padding: 15px; }
  .icon-widget-6 .number {
    font-weight: 400;
    font-size: 1.125rem; }
  .icon-widget-6 .text {
    font-size: 0.8125rem; }
  .icon-widget-6 i {
    font-weight: 400;
    font-size: 1.5rem; }
